<div style="min-height: 100vh;"></div>


<p>my-bg-color</P>
<div style="width: 200px; height:200px; border: solid;" class="my-bg-color"></div>
<p>my-bg-color-glay</P>
  <div style="width: 200px; height:200px;" class="my-bg-color-glay"></div>
<h1 class="my-text-color-glay">サンプルmy-text-color-glay</h1>
<h1 class="my-text-color-title">my-text-color-title</h1>
<h1 class="my-text-color">my-text-color</h1>

<a class="text-h2">text-h2</a>
<a class="text-h1">text-h1</a>

<div style="min-height: 100vh;"></div>